<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, id: :ticket_number %>
  </div>

  <div class="field">
    <%= form.label :descr %>
    <%= form.text_field :descr, id: :ticket_descr %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :ticket_type %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :ticket_status %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.select(:project_id) do %>
    <% Project.all.each do |project| -%>
    <%= content_tag(:option, project.name, value: project.id) %>
    <% end %>
    <% end %>
  
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
